<h1>New Bookmark</h1>

<div class='row'>
  <div class='col-md-4'>
    <p>Please enter your bookmark URL below</p>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <%= render partial: 'form', locals: { bookmark: @bookmark } %>
  </div>
</div>
