<h1>Edit Topic</h1>

<div class='row'>
  <div class='col-md-4'>
    <p>Please edit your bookmark topic below</p>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <%= render partial: 'form', locals: { topic: @topic } %>
  </div>
</div>
