<br>
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h2>
      <%= @topic.title %>
      <%= link_to "Edit", edit_topic_path(@topic.id), class: 'btn btn-success' %>
      <%= link_to "Delete", @topic, method: :delete, class: 'btn btn-danger', data: {confirm: "Delete \"#{@topic.title}?\""} %>
    </h2>
  </div>
</div>
<div class="row">
  <% @topic.bookmarks.each do |bookmark| %>
    <div class="col-md-3">
      <%= link_to bookmark.url, bookmark.url %>
    </div>
  <% end %>
</div>
</div>
<br>
